<div class="container">
			<!---top-header-nav---->
			<div class="top-header-nav"> 
			<!----start-top-nav---->
			 <nav class="top-nav main-menu">
					<ul class="top-nav">
                       <li><a href="index.hbs"><font style="font-size: 38px">NHÀ</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">SẢN PHẨM</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">DỊCH VỤ</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">NHÃN HIỆU</font></a><span> </span></li>
						<li><a href="contact.hbs"><font style="font-size: 38px">THÔNG TIN</font></a></li>
						<div class="clearfix"> </div>
					</ul>
			  </nav>
			  <!---top-header-search-box--->
			<div class="clearfix"> </div>
			</div>
		</div>
			<!--//top-header-nav---->
			<!----contact---->
			<div class="contact-info">
					<div class="map">
					 	<iframe src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px"></a></small>
					 </div>
					 <div class="container">
					 <div class="contact-grids">
							 <div class="col_1_of_bottom span_1_of_first1">
								    <h5>Địa chỉ</h5>
								    <ul class="list3">
										<li>
											<img src="images/home.png" alt="">
											<div class="extra-wrap">
											 <p>227, NVC, P4, Q5, TPHCM</p>
											</div>
										</li>
									</ul>
							    </div>
								<div class="col_1_of_bottom span_1_of_first1">
								    <h5>Điện thoại</h5>
									<ul class="list3">
										<li>
											   <img src="images/phone.png" alt="">
											<div class="extra-wrap">
												<p><span>Số điện thoại:</span>+1 800 258 2598</p>
											</div>
												<img src="images/fax.png" alt="">
											<div class="extra-wrap">
												<p><span>FAX:</span>+1 800 589 2587</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="col_1_of_bottom span_1_of_first1">
									 <h5>Email</h5>
								    <ul class="list3">
										<li>
											<img src="images/email.png" alt="">
											<div class="extra-wrap">
											  <p><span class="mail"><a href="mailto:yoursite.com">OlShop@gmail.com</a></span></p>
											</div>
										</li>
									</ul>
							    </div>
								<div class="clearfix"></div>
					 </div>
					 	<form>
					          <div class="contact-form">
								<div class="contact-to">
			                     	<input type="text" class="text" value="Tên..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên...';}">
								 	<input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
								 	<input type="text" class="text" value="Tiêu đề..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tiêu đề...';}">
								</div>
								<div class="text2">
				                   <textarea value="Nội dung:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Nội dung...</textarea>
				                </div>
				               <span><input type="submit" class="" value="GỬI"></span>
				                <div class="clearfix"></div>
				               </div>
				           </form>
							</div>
			</div>
			<!---//contact---->
			<!----footer--->
				<div class="footer">
				<div class="container">
					<div class="col-md-3 footer-logo">
						<a href="index.hbs"><font style="font-weight: bold; color:yellow; font-size:30px">ONLINE SHOP</font></a>
					</div>
					<div class="col-md-7 footer-links">
						<ul class="unstyled-list list-inline">
							<li><a href="#"> Faq</a> <span> </span></li>
							<li><a href="#"> Terms and Conditions</a> <span> </span></li>
							<li><a href="#"> Secure Payments</a> <span> </span></li>
							<li><a href="#"> Shipping</a> <span> </span></li>
							<li><a href="contact.hbs"> Contact</a> </li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="col-md-2 footer-social">
						<ul class="unstyled-list list-inline">
							<li><a class="pin" href="#"><span> </span></a></li>
							<li><a class="twitter" href="#"><span> </span></a></li>
							<li><a class="facebook" href="#"><span> </span></a></li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			 </div>
			 <div class="clearfix"> </div>
			<!---//footer--->
			<!---copy-right--->
					<div class="copy-right">
						<div class="container">
							<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
							<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
							<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
						</div>
					</div>
			<!--//copy-right--->
		</div>