<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<h2 class="w3-center"><font style="color: blue; font-weight: bold">THÔNG TIN LỊCH SỬ QUÁ TRÌNH VÀ TRẠNG THÁI MUA HÀNG</font></h2>
</br>
<div class="container" height="500px">
<ol>
       <div class="w3-row w3-section">
            <div class="w3-col" style="width:400px; font-size: 30px">1. Đã thêm mặt hàng ... </div>
            <div class="w3-col" style="width:200px; font-size: 30px"> Số lượng: ... </div>
            <div class="w3-col" style="width:180px; font-size: 30px"> Giá cả: ... </div>
            <div class="w3-col" style="width:220px; font-size: 30px"> Thời gian: ...</div>
            <div class="w3-col" style="width:100px; font-size: 30px"> 
                <button class=" w3-red w3-ripple">Xóa</button> 
            </div>
            
       </div>
       <div class="w3-row w3-section">
            <div class="w3-col" style="width:400px; font-size: 30px">2. Đã thêm mặt hàng ... </div>
            <div class="w3-col" style="width:200px; font-size: 30px"> Số lượng: ... </div>
            <div class="w3-col" style="width:180px; font-size: 30px"> Giá cả: ... </div>
            <div class="w3-col" style="width:220px; font-size: 30px"> Thời gian: ...</div>
            <div class="w3-col" style="width:100px; font-size: 30px"> 
                <button class=" w3-red w3-ripple">Xóa</button> 
            </div>
            
       </div>
            <div class="w3-row w3-section">
            <div class="w3-col" style="width:400px; font-size: 30px">3. Đã thêm mặt hàng ... </div>
            <div class="w3-col" style="width:200px; font-size: 30px"> Số lượng: ... </div>
            <div class="w3-col" style="width:180px; font-size: 30px"> Giá cả: ... </div>
            <div class="w3-col" style="width:220px; font-size: 30px"> Thời gian: ...</div>
            <div class="w3-col" style="width:100px; font-size: 30px"> 
                <button class=" w3-red w3-ripple">Xóa</button> 
            </div>
            
       </div>
           <div class="w3-row w3-section">
            <div class="w3-col" style="width:400px; font-size: 30px">4. Đã thêm mặt hàng ... </div>
            <div class="w3-col" style="width:200px; font-size: 30px"> Số lượng: ... </div>
            <div class="w3-col" style="width:180px; font-size: 30px"> Giá cả: ... </div>
            <div class="w3-col" style="width:220px; font-size: 30px"> Thời gian: ...</div>
            <div class="w3-col" style="width:100px; font-size: 30px"> 
                <button class=" w3-red w3-ripple">Xóa</button> 
            </div>
            
       </div>
           <div class="w3-row w3-section">
            <div class="w3-col" style="width:400px; font-size: 30px">5. Đã thêm mặt hàng ... </div>
            <div class="w3-col" style="width:200px; font-size: 30px"> Số lượng: ... </div>
            <div class="w3-col" style="width:180px; font-size: 30px"> Giá cả: ... </div>
            <div class="w3-col" style="width:220px; font-size: 30px"> Thời gian: ...</div>
            <div class="w3-col" style="width:100px; font-size: 30px"> 
                <button class=" w3-red w3-ripple">Xóa</button> 
            </div>
            
       </div>
</ol>
</div>
</body>
</html>