<!-- <h1>{{title}}</h1>
//<p>Welcome to {{title}}</p>
//<div class="row" style="padding: 30px">
		     <a href="#"><div class="col-2"><img src="./images/logo.png"></div></a>
			 <div class="col-4">Premium landing page template</div>
			 <div class="col-6" style="color:red"><div class="text-right"><b>Call Now! 1-800-123-456</b></div></div>
</div>	-->
		<!----container---->
		<div class="container">
			<!----//top-header---->
			<!---top-header-nav---->
			<div class="top-header-nav"> 
			<!----start-top-nav---->
			 <nav class="top-nav main-menu text-center">
					<ul class="top-nav">
						<li><a href="index.hbs"><font style="font-size: 38px">NHÀ</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">SẢN PHẨM</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">DỊCH VỤ</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">NHÃN HIỆU</font></a><span> </span></li>
						<li><a href="contact.hbs"><font style="font-size: 38px">THÔNG TIN</font></a></li>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"> </div>
			  </nav>
			</div>
		</div>
			<!-- Slideshow 4 -->
			    <div class="clearfix"> </div>
			<!----- //End-slider---->
			<!----content---->
				<div class="content">
					<div class="container">
				<!---top-row--->
				<div class="products">
					<div class="col-xs-4">
						<div class="top-row-col1 text-center">
                            <a class="r-list-w" href="woman.hbs">
							<h2>PHỤ NỮ</h2>
							<img class="r-img text-center" src="images/img-w.jpg" title="name" />
							<span><img src="images/obj1.png" title="name" /></span>
							<h4>TỔNG</h4>
							<label>357 SẢN PHẨM</label>
							<img src="images/list-icon.png" title="list" /></a>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="top-row-col1 text-center">
                            <a class="r-list-w" href="man.hbs">
							<h2>ĐÀN ÔNG</h2>
							<img class="r-img text-center" src="images/man-r-img.jpg" title="name" />
							<span><img src="images/obj2.png" title="name" /></span>
							<h4>TỔNG</h4>
							<label>357 SẢN PHẨM</label>
							<img src="images/list-icon.png" title="list" /></a>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="top-row-col1 text-center">
                            <a class="r-list-w" href="kid.hbs">
							<h2>TRẺ EM</h2>
							<img class="r-img text-center" src="images/kid-r-img.jpg" title="name" />
							<span><img src="images/obj3.png" title="name" /></span>
							<h4>TỔNG</h4>
							<label>357 SẢN PHẨM</label>
							<img src="images/list-icon.png" title="list" /></a>
						</div>
					</div>
					<vdi class="clearfix"> </div>
				</div>
				<!---top-row--->
				<div class="container"> 
				<!----speical-products---->
				<div class="special-products">
					<div class="s-products-head">
						<div class="s-products-head-left">
							<h3>SẢN PHẨM <span>ĐẶC BIỆT</span></h3>
						</div>
						<div class="s-products-head-right">
							<a href="products.hbs"><span> </span>Xem tất cả sản phẩm</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!----special-products-grids---->
					<div class="special-products-grids">
						<div class="col-md-3 special-products-grid text-center">
			
							<a class="product-here" href="single-page.hbs"><img src="https://www.giaytot.com/media/wysiwyg/giay-buoc-day-thoi-trang-james-blanc-da-tron-mau-nau-do-jb-690-2.jpg"  title="product-name" /></a>
							<h4><a href="single-page.hbs">Nike Roshe Run</a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="col-md-3 special-products-grid text-center">
							
							<a class="product-here" href="single-page.hbs"><img src="http://www.giaytot.com/media/wysiwyg/giay-buoc-day-cong-so-sanvado-da-tron-mau-nau-dat-ch-388-3%20(2).jpg" title="product-name" /></a>
							<h4><a href="single-page.hbs">Line Link 67009</a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="col-md-3 special-products-grid text-center">
						
							<a class="product-here" href="single-page.hbs"><img src="https://www.giaytot.com/media/wysiwyg/giay-cong-so-buoc-day-james-blanc-da-tron-mau-nau-jb-1102%20(5).jpg" title="product-name" /></a>
							<h4><a href="single-page.hbs">Minimus Zero </a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="col-md-3 special-products-grid text-center">
						
							<a class="product-here" href="single-page.hbs"><img src="https://www.giaytot.com/media/wysiwyg/giay-buoc-day-cong-so-jame-blanc-da-tron-mau-canh-gian-jb-388-3%20(1).jpg" title="product-name" /></a>
							<h4><a href="single-page.hbs"> Athletic Shoe </a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="col-md-3 special-products-grid text-center">
							
							<a class="product-here" href="single-page.hbs"><img src="http://www.nadoza.com/images/thumbs/0000741_adidas-prophere-shoes-new-2018_550.jpeg" title="product-name" /></a>
							<h4><a href="single-page.hbs">Veronique </a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="col-md-3 special-products-grid text-center">
				
							<a class="product-here" href="single-page.hbs"><img src="https://kingshoes.vn/data/upload/giay-adidas-prophere-nam-chinh-hang-tphcm-D96658-king-shoes-sneaker-authentic-tan-binh-1.jpg" title="product-name" /></a>
							<h4><a href="single-page.hbs">Suede Boots </a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="col-md-3 special-products-grid text-center">
							
							<a class="product-here" href="single-page.hbs"><img src="https://giayxshop.vn/wp-content/uploads/2018/12/MG_2427-600x600.jpg" title="product-name" /></a>
							<h4><a href="single-page.hbs">Barricade 6.0  </a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="col-md-3 special-products-grid text-center">
							
							<a class="product-here" href="single-page.hbs"><img src="https://ae01.alicdn.com/kf/HTB1vVYmVgTqK1RjSZPhq6xfOFXaa.jpg_q50.jpg" title="product-name" /></a>
							<h4><a href="single-page.hbs">Cotu Classic </a></h4>
							<a class="product-btn" href="single-page.hbs"><span>109.90$</span><small>GET NOW</small><label> </label></a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!---//special-products-grids---->
				</div>
					<!---//special-products-grids---->
				</div>
				<!---//speical-products---->
			</div>
			<!----content---->
			<!----footer--->
				<div class="footer">
				<div class="container">
					<div class="col-md-3 footer-logo">
						<a href="index.hbs"><font style="font-weight: bold; color:yellow; font-size:30px">ONLINE SHOP</font></a>
					</div>
					<div class="col-md-7 footer-links">
						<ul class="unstyled-list list-inline">
							<li><a href="#"> Faq</a> <span> </span></li>
							<li><a href="#"> Terms and Conditions</a> <span> </span></li>
							<li><a href="#"> Secure Payments</a> <span> </span></li>
							<li><a href="#"> Shipping</a> <span> </span></li>
							<li><a href="contact.hbs"> Contact</a> </li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="col-md-2 footer-social">
						<ul class="unstyled-list list-inline">
							<li><a class="pin" href="#"><span> </span></a></li>
							<li><a class="twitter" href="#"><span> </span></a></li>
							<li><a class="facebook" href="#"><span> </span></a></li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			 </div>
			 <div class="clearfix"> </div>
			<!---//footer--->
			<!---copy-right--->
					<div class="copy-right">
						<div class="container">
							<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
							<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
							<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
						</div>
					</div>
			<!--//copy-right--->
		</div>