<div class="container">
			<!---top-header-nav---->
			<div class="top-header-nav"> 
			<!----start-top-nav---->
			 <nav class="top-nav main-menu">
					<ul class="top-nav">
					    <li><a href="index.hbs"><font style="font-size: 38px">NHÀ</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">SẢN PHẨM</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">DỊCH VỤ</font></a><span> </span></li>
						<li><a href="products.hbs"><font style="font-size: 38px">NHÃN HIỆU</font></a><span> </span></li>
						<li><a href="contact.hbs"><font style="font-size: 38px">THÔNG TIN</font></a></li>
						<div class="clearfix"> </div>
					</ul>
			  </nav>
			  <!---top-header-search-box--->
				<div class="clearfix"> </div>
			</div>
		</div>
			<!--//top-header-nav---->
			<!----content---->
				<div class="content">
					<div class="container">
				<!--- products ---->
				<div class="products">
					<div class="product-filter">
						<h1><a href="#">BỘ LỌC</a></h1>
						<div class="product-filter-grids"> 
							<div class="col-md-3 product-filter-grid1-brands">
								<h3>NHÃN HIỆU</h3>
								<ul class="col-md-6 unstyled-list b-list1">
									<li><a href="#">adidas</a></li>
									<li><a href="#">nike</a></li>
									<li><a href="#">camper</a></li>
									<li><a href="#">superga</a></li>
									<li><a href="#">timberland</a></li>
									<li><a href="#">new balance</a></li>
									<li><a href="#">converse</a></li>
									<li><a href="#">puma</a></li>
									<li><a href="#">kinetix</a></li>
									<div class="clearfix"> </div>
								</ul>
								<ul class="col-md-6 unstyled-list b-list2">
									<li><a href="#">tiger</a></li>
									<li><a href="#">lacoste</a></li>
									<li><a href="#">eebok</a></li>
									<li><a href="#">cat</a></li>
									<li><a href="#">dockers</a></li>
									<div class="clearfix"> </div>
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!---->
							<div class="col-md-6 product-filter-grid1-brands-col2">
									<div class="producst-cate-grids">
										<div class="col-md-4 producst-cate-grid text-center">
											<a class="r-list-w" href="woman.hbs">
											<h2>PHỤ NỮ</h2>
											<img class="r-img text-center img-responsive" src="images/img-w.jpg" title="name">
											<span><img src="images/objs1.png" title="name"></span>
											<h4>TỔNG</h4>
											<label>357 SẢN PHẨM</label>
											<img src="images/list-icon.png" title="list"></a>
										</div>
										<div class="col-md-4 producst-cate-grid text-center">
											<a class="r-list-w" href="man.hbs">
											<h2>ĐÀN ÔNG</h2>
											<img class="r-img text-center img-responsive" src="images/man-r-img.jpg" title="name">
											<span><img src="images/objs2.png" title="name"></span>
											<h4>TỔNG</h4>
											<label>357 SẢN PHẨM</label>
											<img src="images/list-icon.png" title="list"></a>
										</div>
										<div class="col-md-4 producst-cate-grid text-center">
											<a class="r-list-w" href="kid.hbs">
											<h2>TRẺ EM</h2>
											<img class="r-img text-center img-responsive" src="images/kid-r-img.jpg" title="name">
											<span><img src="images/objs3.png" title="name"></span>
											<h4>TỔNG</h4>
											<label>357 SẢN PHẨM</label>
											<img src="images/list-icon.png" title="list"></a>
										</div>
									</div>
							</div>
							<!---->
							<div class="product-filter-grid1-brands-col3">
								<div class="products-colors">
									<h3>CHỌN MÀU </h3>
									<li><a href="#"><span class="color1"> </span></a></li>
									<li><a href="#"><span class="color2"> </span></a></li>
									<li><a href="#"><span class="color3"> </span></a></li>
									<li><a href="#"><span class="color4"> </span></a></li>
									<li><a href="#"><span class="color5"> </span></a></li>
									<li><a href="#"><span class="color6"> </span></a></li>
									<li><a href="#"><span class="color7"> </span></a></li>
									<li><a href="#"><span class="color8"> </span></a></li>
									<li><a href="#"><span class="color9"> </span></a></li>
									<li><a href="#"><span class="color10"> </span></a></li>
									<li><a href="#"><span class="color11"> </span></a></li>
									<li><a href="#"><span class="color12"> </span></a></li>
									<li><a href="#"><span class="color13"> </span></a></li>
									<li><a href="#"><span class="color14"> </span></a></li>
									<li><a href="#"><span class="color15"> </span></a></li>
									<li><a href="#"><span class="color16"> </span></a></li>
									<li><a href="#"><span class="color17"> </span></a></li>
									<li><a href="#"><span class="color18"> </span></a></li>
									<li><a href="#"><span class="color19"> </span></a></li>
									<li><a href="#"><span class="color20"> </span></a></li>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
				<!-- //products ---->
				<!----product-details--->
				<div class="product-details">
					<div class="container">
					<div class="product-details-row1">
						<div class="product-details-row1-head">
							<h2>Men'sFootwear</h2>
							<p>Hookset Handcrafted Fabric Chukka</p>
						</div>
						<div class="col-4 product-details-row1-col1">
							<!----details-product-slider--->
						<!-- Include the Etalage files -->
							<link rel="stylesheet" href="css/etalage.css">
							<script src="js/jquery.etalage.min.js"></script>
						<!-- Include the Etalage files -->
						<script>
								jQuery(document).ready(function($){
					
									$('#etalage').etalage({
										thumb_image_width: 300,
										thumb_image_height: 400,
										source_image_width: 900,
										source_image_height: 1000,
										show_hint: true,
										click_callback: function(image_anchor, instance_id){
											alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
										}
									});
									// This is for the dropdown list example:
									$('.dropdownlist').change(function(){
										etalage_show( $(this).find('option:selected').attr('class') );
									});
		
							});
						</script>
						<!----//details-product-slider--->
						<div class="details-center">
							<img src="images/p1.jpg" title="product-name" width="330px" />
							<img src="images/p2.jpg" title="product-name" width="330px" />
							<img src="images/p8.jpg" title="product-name" width="330px" />
						</div>
					</div>
					<div class="col-8 product-details-row1-col2">
						<div class="product-rating">
							<a class="rate" href="#"><span> </span></a>
							<label><a href="#">Read <b>8</b> Reviews</a></label>
						</div>
						<div class="product-price">
							<div class="product-price-left text-right">
								<span>174.00</span>
								<h5>109.00$</h5>
							</div>
							<div class="product-price-right">
								<a href="#"><span> </span></a>
								<label> save <b>40%</b></label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="product-price-details">
							<p class="text-left">Đường chỉ may đều, chắc chắn, không bị mỏng, cảm giác không chắc chắn như loại giày fake. May gia công tỉ mỉ, không bị xô lệch, ngắt quãng…
Tem trên lưỡi giày – phần khá quan trọng để kiểm soát được thông tin sản phẩm, size giày, mã lô hàng. Phần tem có in rõ ràng, đậm màu, không mờ và nhòe, gắn chặt và lưỡi gà. Nhiều giày fake còn không có ghi tem nhãn sản phẩm. Số seri của giày thật sẽ có sự khác nhau đôi chút.
Lót giày hàng thật thường được gắn khá chắc chắn vào phần đế, trong khi hàng fake thì bị gắn hời hợt, dễ bị xô đẩy, xê dịch bên trong gây cảm giác khó chịu khi sử dụng.
Các thương hiệu uy tín sẽ có cách thức in logo thương hiệu riêng, người dùng cần xem xét thông tin trên website thương hiệu để nhận diện.
Phần gót va đế giày của hàng chính hãng được cắt ngay ngắn, vuông vức để đứng vững trên mặt phẳng, không bị bập bênh hay xiêu vẹo như loại giày fake.</p>
							<a class="shipping" href="#"><span> </span>Miễn phí vận chuyển</a>
							<div class="clearfix"> </div>
							<div class="product-size-qty">
								<div class="pro-size"> 
									<span>Size:</span>
									<select>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
									</select>
								</div>
								<div class="pro-qty">
									<span>Qty:</span>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div> 
								<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>
							<div class="product-cart-share">
								<div class="add-cart-btn">
									<input type="button" value="Thêm vào" />
								</div>
								<ul class="product-share text-right">
									<h3>Chia sẻ:</h3>
									<ul>
										<li><a class="share-face" href="#"><span> </span> </a></li>
										<li><a class="share-twitter" href="#"><span> </span> </a></li>
										<li><a class="share-google" href="#"><span> </span> </a></li>
										<li><a class="share-rss" href="#"><span> </span> </a></li>
										<div class="clear"> </div>
									</ul>
								</ul>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				<!--//product-details--->
				</div>
				    <!-- Responsive Tabs JS -->
				    <script src="js/jquery.responsiveTabs.js" type="text/javascript"></script>
				
				    <script type="text/javascript">
				        $(document).ready(function () {
				            $('#horizontalTab').responsiveTabs({
				                rotate: false,
				                startCollapsed: 'accordion',
				                collapsible: 'accordion',
				                setHash: true,
				                disabled: [3,4],
				                activate: function(e, tab) {
				                    $('.info').html('Tab <strong>' + tab.id + '</strong> activated!');
				                }
				            });
				
				            $('#start-rotation').on('click', function() {
				                $('#horizontalTab').responsiveTabs('active');
				            });
				            $('#stop-rotation').on('click', function() {
				                $('#horizontalTab').responsiveTabs('stopRotation');
				            });
				            $('#start-rotation').on('click', function() {
				                $('#horizontalTab').responsiveTabs('active');
				            });
				            $('.select-tab').on('click', function() {
				                $('#horizontalTab').responsiveTabs('activate', $(this).val());
				            });
				
				        });
				    </script>
				</div>
				<!-- //product-details ---->
				</div>
				</div>
			<!----content---->
			<div class="clearfix"> </div>
			<!----footer--->
			<div class="footer">
				<div class="container">
					<div class="col-md-3 footer-logo">
						<a href="index.hbs"><font style="font-weight: bold; color:yellow; font-size:30px">ONLINE SHOP</font></a>
					</div>
					<div class="col-md-7 footer-links">
						<ul class="unstyled-list list-inline">
							<li><a href="#"> Faq</a> <span> </span></li>
							<li><a href="#"> Terms and Conditions</a> <span> </span></li>
							<li><a href="#"> Secure Payments</a> <span> </span></li>
							<li><a href="#"> Shipping</a> <span> </span></li>
							<li><a href="contact.hbs"> Contact</a> </li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="col-md-2 footer-social">
						<ul class="unstyled-list list-inline">
							<li><a class="pin" href="#"><span> </span></a></li>
							<li><a class="twitter" href="#"><span> </span></a></li>
							<li><a class="facebook" href="#"><span> </span></a></li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			 </div>
			 <div class="clearfix"> </div>
			<!---//footer--->
			<!---copy-right--->
					<div class="copy-right">
						<div class="container">
							<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
							<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
							<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
						</div>
					</div>
			<!--//copy-right--->
		</div>